.navbar {
  width: 250px;
  min-height: 100vh;
  height: auto;
  /* padding-top: 10px; */
  /* padding: var(--mantine-spacing-md); */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: #0c1a2c !important; /* A deeper, modern blue */
  flex-direction: column;
  position: fixed;
  border-right: 1px solid #1a2f45; /* Subtle border */
}

.navbarMain {
  flex: 1;
  margin-top: 10px;
}

.link {
  height: 50px;
  padding-left: 20px;
  border-radius: var(--mantine-radius-sm);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 15px;
  color: #c1d4e8;
  transition: 0.2s ease-in-out;
  font-weight: 500;

  &:hover {
    background-color: #1a2f45;
    color: #ffffff;
  }

  &[data-active] {
    &,
    &:hover {
      background-color: #1a2f45;
      color: #ffffff;
      border-left: 3px solid #3886df;
      padding-left: 17px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
}
