.navbar {
  width: 220px;
  min-height: 100vh;
  height: auto;
  padding-top: 25px;
  /* padding: var(--mantine-spacing-md); */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: #2b3033 !important;
  flex-direction: column;
  position: fixed;
  /* border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
}

.navbarMain {
  flex: 1;
  margin-top: 50px;
}

.link {
  /* width: 200px; */
  height: 50px;
  padding-left: 30px;
  /* border-radius: var(--mantine-radius-md); */
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: white;

  &:hover {
    background-color: #ffffff08;
    /* color: black; */
  }

  &[data-active] {
    &,
    &:hover {
      background-color: white;
      border-right: 4px solid #f36726;

      transition: 0.5s;
      /* background-size: 200% auto; */
      color: #f36726;

      /* display: block; */
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
}
