@tailwind base;
@tailwind components;
@tailwind utilities;
@layer mantine, mantine-datatable;

:root {
  --background: #e5e7eb;
  --foreground: #171717;
  --sidebar-width: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #f4f7fe !important;
}

.main-content {
  margin-left: var(--sidebar-width);
  margin-top: 100px;
  /* position: fixed; */
  padding-left: 30px;
  padding-right: 30px;
  width: calc(100vw - var(--sidebar-width));
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.header {
  margin-left: var(--sidebar-width);
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: margin-left 0.3s ease;
  /* background-color: white; */
  /* background-color: #1e476b; */
  /* background-color: #14141fd9; */
}
.page-main-wrapper,
.data-table {
  width: calc(100vw - var(--sidebar-width) - 70px) !important;
}

@media only screen and (max-width: 992px) {
  .main-content {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    /* padding: 10px; */
  }
  .header {
    margin-left: 0px;
    /* background: #000; */
  }
  .data-table,
  .page-main-wrapper {
    width: calc(100vw - 20px) !important;
  }
}

.custom-datatable-wrapper .mantine-Select-root {
  font-size: 14px;
  margin-left: 8px;
}

.default_button__13dB2 {
  background-color: gray !important;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* styles/mobileViewMessage.module.css */
.mobile-view-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8; /* Light background color */
  color: #333; /* Dark text color for contrast */
  font-size: 1.5rem; /* Larger font size for readability */
  font-weight: bold; /* Bold text for emphasis */
  text-align: center;
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
